@keyframes donut-fly-1 {
  0% {
    left: -200px;
    top: 68vh;
  }
  25% {
    left: 20vw;
    top: 79vh;
  }
  50% {
    left: 45vw;
    top: 12vh;
  }
  75% {
    left: 70vw;
    top: 38vh;
  }
  100% {
    left: 100vw;
    top: 47vh;
  }
}
@keyframes donut-fly-2 {
  0% {
    left: -200px;
    top: 62vh;
  }
  25% {
    left: 20vw;
    top: 25vh;
  }
  50% {
    left: 45vw;
    top: 59vh;
  }
  75% {
    left: 70vw;
    top: 6vh;
  }
  100% {
    left: 100vw;
    top: 85vh;
  }
}
@keyframes donut-fly-3 {
  0% {
    left: -200px;
    top: 1vh;
  }
  25% {
    left: 20vw;
    top: 9vh;
  }
  50% {
    left: 45vw;
    top: 42vh;
  }
  75% {
    left: 70vw;
    top: 74vh;
  }
  100% {
    left: 100vw;
    top: 78vh;
  }
}
@keyframes donut-fly-4 {
  0% {
    left: -200px;
    top: 10vh;
  }
  25% {
    left: 20vw;
    top: 27vh;
  }
  50% {
    left: 45vw;
    top: 41vh;
  }
  75% {
    left: 70vw;
    top: 47vh;
  }
  100% {
    left: 100vw;
    top: 26vh;
  }
}
@keyframes donut-fly-5 {
  0% {
    left: -200px;
    top: 30vh;
  }
  25% {
    left: 20vw;
    top: 76vh;
  }
  50% {
    left: 45vw;
    top: 82vh;
  }
  75% {
    left: 70vw;
    top: 84vh;
  }
  100% {
    left: 100vw;
    top: 53vh;
  }
}
@keyframes donut-fly-6 {
  0% {
    left: -200px;
    top: 59vh;
  }
  25% {
    left: 20vw;
    top: 31vh;
  }
  50% {
    left: 45vw;
    top: 11vh;
  }
  75% {
    left: 70vw;
    top: 26vh;
  }
  100% {
    left: 100vw;
    top: 37vh;
  }
}
@keyframes donut-fly-7 {
  0% {
    left: -200px;
    top: 33vh;
  }
  25% {
    left: 20vw;
    top: 44vh;
  }
  50% {
    left: 45vw;
    top: 52vh;
  }
  75% {
    left: 70vw;
    top: 77vh;
  }
  100% {
    left: 100vw;
    top: 43vh;
  }
}
@keyframes donut-fly-8 {
  0% {
    left: -200px;
    top: 67vh;
  }
  25% {
    left: 20vw;
    top: 22vh;
  }
  50% {
    left: 45vw;
    top: 34vh;
  }
  75% {
    left: 70vw;
    top: 17vh;
  }
  100% {
    left: 100vw;
    top: 85vh;
  }
}
@keyframes donut-fly-9 {
  0% {
    left: -200px;
    top: 7vh;
  }
  25% {
    left: 20vw;
    top: 87vh;
  }
  50% {
    left: 45vw;
    top: 45vh;
  }
  75% {
    left: 70vw;
    top: 3vh;
  }
  100% {
    left: 100vw;
    top: 7vh;
  }
}
@keyframes donut-fly-10 {
  0% {
    left: -200px;
    top: 23vh;
  }
  25% {
    left: 20vw;
    top: 49vh;
  }
  50% {
    left: 45vw;
    top: 60vh;
  }
  75% {
    left: 70vw;
    top: 33vh;
  }
  100% {
    left: 100vw;
    top: 51vh;
  }
}
@keyframes donut-fly-11 {
  0% {
    left: -200px;
    top: 79vh;
  }
  25% {
    left: 20vw;
    top: 16vh;
  }
  50% {
    left: 45vw;
    top: 26vh;
  }
  75% {
    left: 70vw;
    top: 32vh;
  }
  100% {
    left: 100vw;
    top: 49vh;
  }
}
.body {
  font-family: sans-serif;
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(../bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.donut {
  position: absolute;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
  display: block;
}
.donut__img {
  width: 200px;
  filter: drop-shadow(-17px 9px 26px #e5d164);
}
.donut-check {
  position: absolute;
  visibility: hidden;
  left: -999999px;
}
.donut-check:checked {
  counter-increment: count;
}
.donut-check:checked ~ label {
  display: none;
}
.donut__1 {
  animation: donut-fly-1 7s ease-in 1s both;
}
.donut__2 {
  animation: donut-fly-2 7s ease-in 2s both;
}
.donut__3 {
  animation: donut-fly-3 7s ease-in 3s both;
}
.donut__4 {
  animation: donut-fly-4 7s ease-in 4s both;
}
.donut__5 {
  animation: donut-fly-5 7s ease-in 5s both;
}
.donut__6 {
  animation: donut-fly-6 7s ease-in 6s both;
}
.donut__7 {
  animation: donut-fly-7 7s ease-in 7s both;
}
.donut__8 {
  animation: donut-fly-8 7s ease-in 8s both;
}
.donut__9 {
  animation: donut-fly-9 7s ease-in 9s both;
}
.donut__10 {
  animation: donut-fly-10 7s ease-in 10s both;
}
.donut__11 {
  animation: donut-fly-11 7s ease-in 11s both;
}

.counter-info {
  color: rgb(199, 66, 145);
  font-size: 70px;
  position: absolute;
  top: -14px;
  right: 67px;
}
.counter-info::after {
  content: counter(count);
  font-size: 106px;
  margin-left: 35px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.result__block {
  display: flex;
  width: 30vw;
  height: 40vh;
  position: absolute;
  top: 35%;
  left: 35%;
  background-color: rgb(255, 233, 183);
  border-radius: 9%;
  box-shadow: -1px -1px 20px 18px bisque;
  opacity: 0;
  animation: show 8s 1;
  animation-delay: 15s;
}

.result__text {
  text-shadow: 6px 5px #e9a0ad;
  font-size: 79px;
  color: #f9c5de;
  align-self: center;
  text-align: center;
  margin: 0 auto;
}

.scores::after {
  content: counter(count);
}/*# sourceMappingURL=style.css.map */