@keyframes donut-fly-1 {
  0% {
    left: -200px;
    top: 29vh;
  }
  25% {
    left: 20vw;
    top: 90vh;
  }
  50% {
    left: 45vw;
    top: 74vh;
  }
  75% {
    left: 70vw;
    top: 52vh;
  }
  100% {
    left: 100vw;
    top: 59vh;
  }
}
@keyframes donut-fly-2 {
  0% {
    left: -200px;
    top: 50vh;
  }
  25% {
    left: 20vw;
    top: 53vh;
  }
  50% {
    left: 45vw;
    top: 6vh;
  }
  75% {
    left: 70vw;
    top: 81vh;
  }
  100% {
    left: 100vw;
    top: 56vh;
  }
}
@keyframes donut-fly-3 {
  0% {
    left: -200px;
    top: 67vh;
  }
  25% {
    left: 20vw;
    top: 73vh;
  }
  50% {
    left: 45vw;
    top: 86vh;
  }
  75% {
    left: 70vw;
    top: 18vh;
  }
  100% {
    left: 100vw;
    top: 2vh;
  }
}
@keyframes donut-fly-4 {
  0% {
    left: -200px;
    top: 29vh;
  }
  25% {
    left: 20vw;
    top: 53vh;
  }
  50% {
    left: 45vw;
    top: 44vh;
  }
  75% {
    left: 70vw;
    top: 90vh;
  }
  100% {
    left: 100vw;
    top: 72vh;
  }
}
@keyframes donut-fly-5 {
  0% {
    left: -200px;
    top: 12vh;
  }
  25% {
    left: 20vw;
    top: 2vh;
  }
  50% {
    left: 45vw;
    top: 22vh;
  }
  75% {
    left: 70vw;
    top: 82vh;
  }
  100% {
    left: 100vw;
    top: 44vh;
  }
}
@keyframes donut-fly-6 {
  0% {
    left: -200px;
    top: 19vh;
  }
  25% {
    left: 20vw;
    top: 19vh;
  }
  50% {
    left: 45vw;
    top: 54vh;
  }
  75% {
    left: 70vw;
    top: 86vh;
  }
  100% {
    left: 100vw;
    top: 49vh;
  }
}
@keyframes donut-fly-7 {
  0% {
    left: -200px;
    top: 7vh;
  }
  25% {
    left: 20vw;
    top: 5vh;
  }
  50% {
    left: 45vw;
    top: 44vh;
  }
  75% {
    left: 70vw;
    top: 13vh;
  }
  100% {
    left: 100vw;
    top: 56vh;
  }
}
@keyframes donut-fly-8 {
  0% {
    left: -200px;
    top: 20vh;
  }
  25% {
    left: 20vw;
    top: 89vh;
  }
  50% {
    left: 45vw;
    top: 42vh;
  }
  75% {
    left: 70vw;
    top: 40vh;
  }
  100% {
    left: 100vw;
    top: 40vh;
  }
}
@keyframes donut-fly-9 {
  0% {
    left: -200px;
    top: 39vh;
  }
  25% {
    left: 20vw;
    top: 36vh;
  }
  50% {
    left: 45vw;
    top: 50vh;
  }
  75% {
    left: 70vw;
    top: 46vh;
  }
  100% {
    left: 100vw;
    top: 83vh;
  }
}
@keyframes donut-fly-10 {
  0% {
    left: -200px;
    top: 3vh;
  }
  25% {
    left: 20vw;
    top: 44vh;
  }
  50% {
    left: 45vw;
    top: 16vh;
  }
  75% {
    left: 70vw;
    top: 52vh;
  }
  100% {
    left: 100vw;
    top: 71vh;
  }
}
@keyframes donut-fly-11 {
  0% {
    left: -200px;
    top: 66vh;
  }
  25% {
    left: 20vw;
    top: 56vh;
  }
  50% {
    left: 45vw;
    top: 30vh;
  }
  75% {
    left: 70vw;
    top: 59vh;
  }
  100% {
    left: 100vw;
    top: 48vh;
  }
}
.body {
  font-family: sans-serif;
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(/bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.donut {
  position: absolute;
}
.donut__img {
  width: 200px;
  filter: drop-shadow(-17px 9px 26px #e5d164);
}
.donut-check {
  position: absolute;
  visibility: hidden;
  left: -999999px;
}
.donut-check:checked {
  counter-increment: count;
}
.donut-check:checked ~ label {
  display: none;
}
.donut__1 {
  animation: donut-fly-1 7s ease-in 1s both;
}
.donut__2 {
  animation: donut-fly-2 7s ease-in 2s both;
}
.donut__3 {
  animation: donut-fly-3 7s ease-in 3s both;
}
.donut__4 {
  animation: donut-fly-4 7s ease-in 4s both;
}
.donut__5 {
  animation: donut-fly-5 7s ease-in 5s both;
}
.donut__6 {
  animation: donut-fly-6 7s ease-in 6s both;
}
.donut__7 {
  animation: donut-fly-7 7s ease-in 7s both;
}
.donut__8 {
  animation: donut-fly-8 7s ease-in 8s both;
}
.donut__9 {
  animation: donut-fly-9 7s ease-in 9s both;
}
.donut__10 {
  animation: donut-fly-10 7s ease-in 10s both;
}
.donut__11 {
  animation: donut-fly-11 7s ease-in 11s both;
}

.counter-info {
  color: rgb(199, 66, 145);
  font-size: 70px;
  position: absolute;
  top: -14px;
  right: 67px;
}
.counter-info::after {
  content: counter(count);
  font-size: 106px;
  margin-left: 35px;
}

.result__block {
  width: 30vw;
  height: 30vh;
  position: absolute;
  top: 35%;
  left: 35%;
  background-color: rgb(255, 233, 183);
  border-radius: 9%;
  box-shadow: -1px -1px 20px 18px bisque;
  display: flex;
}

.result__text {
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */